.myCard {
	line-height: 3.0;
	background-blend-mode: darken;
}

#preferences {
	font-size: 60px;
	color: rgb(235,235,235);
	font-weight: 200;
	

 }

.opt {
	font-size: 17px;
	color: rgb(235,235,235);
	font-weight: 100;
}


.container {
    display: flex;
    justify-content: flex-start;
}

body {
	background-image: url(img/2.jpg);
	background-size: cover; 
    justify-content: flex-end;
}